@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&family=Arapey&family=Bebas+Neue&family=Cormorant:wght@300;400;500;600;700&family=Didact+Gothic&family=Fraunces:opsz,wght@9..144,100;9..144,200;9..144,300;9..144,400;9..144,500;9..144,600;9..144,700;9..144,800;9..144,900&family=Jost:wght@200;300;400;500;600;700;800&family=Manrope:wght@200;300;400&family=Montserrat:wght@100;200;300;400;500;600;700&family=Mukta:wght@200;400;600;800&family=Mulish:wght@200;300;400;500;600;700;800&family=Nanum+Gothic:wght@700;800&family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,500&family=Open+Sans:wght@300;400;500;600;700;800&family=Oswald:wght@300;400;500;600;700&family=Poppins:wght@100;200;300;400;800;900&family=Roboto:wght@100;300&display=swap');
$colors: (
    primary: #67A130,
    dark: #212121,
    light: rgba($color: #000000, $alpha: 0.5),
);

$primaryFont: 'Sen', sans-serif;

$sm: 767px;
$md: 1023px;
$lg: 1024px;
$xl: 1441px;

@mixin xl {
    @media (min-width: #{$xl}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$lg}) {
        @content;
    }
}

@mixin small {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin tab {
    @media (max-width: #{$md}) {
        @content;
    }
}

@mixin from-tab {
    @media (min-width: #{$sm}) {
        @content;
    }
}

@mixin till-large {
    @media (max-width: 1200px) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: #{$sm}) {
        @content;
    }
}

@mixin sm {
    @media (max-width: 680px) {
        @content;
    }
}

@mixin xs {
    @media (max-width: 456px) {
        @content;
    }
}

@function color($color-name) {
    @return map-get($colors, $color-name);
}