@import '../styles/mixin';

.container {
  	width: 100%;
	box-sizing: border-box;

	&::selection {
		color: #fff;
		background: #3377cc;
	  }

	.wrapper{
		position: relative;
		background-color: #fff;

		.header{

			.hamberg{

				.hamberg_menu{
					top: 36px;
					left: 70px;
					width: 26px;
					height: 18px;
					z-index: 999;
					padding: 10px;
					cursor: pointer;
					position: fixed;
					background-color: transparent;
					border: none;
					border-radius: 0px;
					outline: none;

					span{
						background-color: #245078;
						height: 4px;
    					width: 26px;
						position: absolute;
						display: inline-block;

						&:nth-child(1){
							top:8px;
						}
						&:nth-child(2){
							top:16px;
						}
						&:nth-child(3){
							top:24px;
						}
					}
				}

				.active{
					position: relative;
					background: none;
					border: none;
					transition: all .25s ease-out;
					top: 36px;
					left: 70px;
					width: 26px;
					height: 18px;
					z-index: 999;
					padding: 10px;
					cursor: pointer;
					position: fixed;
					span{
						display: block;
						width: 26px;
						height: 4px;
						left: 25px;
						margin-left: -9px;
						position: absolute;
						transition: all .25s ease-out;
						background: #245078;
		
						&:nth-child(1){
							transform: rotate(35deg)
						}
						&:nth-child(2){
							display: none;
						}
						&:nth-child(3){
							transform: rotate(145deg)
						}
					}
				}
			}
		}


		.main_block{

			.about{
				background-color: #0189e9;
				margin-bottom: 40px;
				position: relative;

				.about_me{
					position: relative;
					height: 270px;

					.about_background{
						color: #fff;
						text-align: center;
						padding-top: 20px;

						.about_content{
							max-width: 550px;
							margin: 0 auto;

							p{
								font-size: 26px;
								margin-bottom: 8px;
								font-weight:800;
								letter-spacing: 3px;

								@include mobile{
									font-size: 20px;
								}
							}
						}
					}

					.profile_image{
						position: absolute;
						transform: translate(-50%,50%);
						left:50%;
						bottom:0%;
						background-color: #fff;
						height: 250px;
						width: 250px;
						box-sizing: border-box;
						border-radius: 49.9%;
						overflow: hidden;
						border: 5px solid #fff;
						padding: 3px;
					
						
						img{
							object-fit: cover;
						}
					}
				}
			}

			.image_block{
				text-shadow: 0 1px 2px rgb(0 0 0 / 20%);
				margin-top: 160px;
				width: 100%;
				position: relative;
				
				@include mobile{
					background-position:80%;
				}
	
				.main_text{
					// position: absolute;
					// transform: translate(-50%,-50%);
					// top: 50%;
					// left: 50%;
					text-align: center;
					display: flex;
					justify-content: center;
					align-items: center;
					flex-direction: column;
	
					.font_italic{
						line-height: 1.45;
						font-size: 26px;
						font-weight: 400;
						color: #333;
					}
					
					h1{
						font-size: 59px;
						font-weight: 700;
						color: #0d0c22;
						line-height:50px;
						word-wrap:break-word;
						margin-bottom: 25px;
					}

					.content{
						max-width: 750px;
						margin:0 auto;

						p{
							line-height: 1.45;
							font-size: 20px;
							font-weight: 400;
							color: #777;
							margin-bottom: 8px;
						}
					}
				}
			}

			.Volunteering{
				margin: 60px 0px;

				@include mobile{
					margin:0px;
				}

				.journey_block{

					.details{
						display: flex;
						justify-content: center;
						margin-bottom: 30px;

						h2{
							color: #333;
							font-size: 32px;
							font-weight: 700;
							position: relative;
							text-align: center;
							margin: 0px;
							display: inline-block;

							&::before{
								content: "";
								position: absolute;
								height: 2px;
								width: 80px;
								margin: 0 10px;
								display: inline-block;
								background-color: #333;
								right: 100%;
								top:50%;
								
								@include mobile{

									content: "";
									position: absolute;
									height: 2px;
									width: 80px;
									margin: 0 10px;
									display: inline-block;
									background-color: #333;
									bottom: -12%;
									top:inherit;
									right:inherit;
									transform: translate(-50%,-50%);
									left: 45%;
								}
							}

							&::after{
								content: "";
								position: absolute;
								height: 2px;
								width: 80px;
								margin: 0 10px;
								display: inline-block;
								background-color: #333;
								left: 100%;
								top:50%;

								@include mobile{
									display: none;
								}
							}
						}
					}

					.journey_info{

						.journey_sections{
							display: flex;
							padding-bottom:40px;
							align-items: flex-start;
							margin-bottom: 0px;

							@include mobile{
								flex-direction: column;
								justify-content: center;
								padding-bottom:30px;
								align-items: center;

								&:nth-child(1){
									padding-top: 20px;
								}
							}

							.unplugged_image{
								justify-content: flex-end;
								display: flex;
								cursor: pointer;
								margin-right: 40px;

								@include mobile{
									margin: 0px;
									margin-bottom: 20px;
								}
								
								&.center_image{
									
									img{
										object-fit: contain;
									}
								}
								img{
									width:170px;
									box-shadow: 0px 0px 11px 2px rgb(222 222 222 / 93%);
    								border-radius: 22px;
									height: 138px;
									transition: all .5s cubic-bezier(.7,0,.3,1);

										&:hover{
											transform: scale(1.05);
										}

									@include mobile{
										// width: 100%;
										object-fit: cover;
									}
								}
							}
		
							.journey_text{
								flex: 1;

								@include mobile{
									width:100%;
									padding-left: 0px;
									margin: 0px;
								}
		
								.basic_info{
		
									h3{
										color: #333;
										font-size: 22px;
										font-weight: 700;
										line-height: 22px;
										margin-bottom: 2px;

										@include mobile{
											font-size: 18px;
										}

										a{
											cursor: pointer;
										}
									}
		
									
									h6{
										font-size: 17px;
										color: #0189e9;
										margin-bottom: 4px;
										font-weight: 400;

										@include mobile{
											font-size: 14px;
										}

									}

									.details_block{
										color: #50555c;

										.location{
											font-weight: 500;
											margin-bottom: 12px;

											a{
												word-break: break-word;
												font-weight: bold;
												text-decoration: underline!important;
											}
										}

										.info{

											p{
												font-size: 17px;
												margin-bottom: 14px;
												font-weight: 400;
												line-height: 1.5;

												&:nth-last-child(1){
													margin-bottom: 0px;
												}

												span{
													display: inline-block;
												}

												a{
													color: #37c;
													font-weight: 500;
													padding-left: 4px;
													text-decoration: underline !important;
												}
											}
											ul{
												margin: 15px 0px;
												margin-bottom: 0px;
												padding-left: 30px;

												li{
													font-style: italic;
													font-weight: 500;
													list-style-type: disc;
													font-size: 17px;
													margin-bottom: 14px;
													line-height: 1.5;

													&:nth-last-child(1){
														margin: 0px;
													}

													a{
														color: #37c;
														font-weight: 500;
														padding-left: 4px;
														text-decoration: underline !important;
													}
												}
											}

											a{
												text-decoration: underline!important;
												font-weight: bold;
											}
										}
									}
								}
							}

						}

						&.certification_info{
							text-align: center;
						}
					}
				}
			}

			.thoughts{
				position: relative;
				margin: 60px 0px;
				
				@include mobile{
					margin: 30px 0px;
				}

				.thoughts_image_box{

					.thought_box{

						.details{
							align-items: center;
							margin-bottom: 30px;
							display: flex;
							flex-direction: column;
		
							h2{
								color: #333;
								font-size: 32px;
								font-weight: 700;
								position: relative;
								text-align: center;
								margin: 0px;
								display: inline-block;
		
								&::before{
									content: "";
									position: absolute;
									height: 2px;
									width: 80px;
									margin: 0 10px;
									display: inline-block;
									background-color: #333;
									right: 100%;
									top:50%;

									@include mobile{
										content: "";
										position: absolute;
										height: 2px;
										width: 80px;
										margin: 0 10px;
										display: inline-block;
										background-color: #333;
										bottom: -12%;
										top:inherit;
										right:inherit;
										transform: translate(-50%,-50%);
										left: 45%;
									}
								}
		
								&::after{
									content: "";
									position: absolute;
									height: 2px;
									width: 80px;
									margin: 0 10px;
									display: inline-block;
									background-color: #333;
									left: 100%;
									top:50%;
									@include mobile{
										display: none;
									}
								}
							}

							.thoughts_matter{
								
								h4{
									color: #fff;
									font-size: 16px;
									font-weight: 400;
									position: relative;
									text-align: center;
									margin: 0px;
									display: inline-block;
									margin-bottom: 32px;
									line-height:29px;

									a{
										margin: 0px 6px;
										font-size: 16px;
										font-weight: 600;
										border-bottom: 1px solid #fff;
									}
								}
							}
							h4{
								color: #678;
								font-size: 17px;
								font-weight: 600;
								position: relative;
								text-align: center;
								margin: 0px;
								display: inline-block;
							}
						}

						.journey_info{
					
							.journey_sections{
								display: flex;
								padding: 0px 60px;
								align-items: flex-start;
								margin: 40px 0px;
								margin-bottom: 0px;
	
								@include mobile{
									flex-direction: column;
									justify-content: center;
									padding: 0px;
									align-items: center;
									margin:20px 0px;
								}
								@include xs {
									margin:20px  0px;
								}
	
								.unplugged_image{
									flex: 0.3;
									margin: 0px 14px;
									justify-content: flex-end;
									display: flex;
									cursor: pointer;
	
									@include mobile{
										flex: 1;
										margin-bottom: 15px;
									}
			
									img{
										width:170px;
										box-shadow: 0px 0px 11px 2px rgb(222 222 222 / 35%);
										border-radius: 22px;
										object-fit: contain;
										height: 138px;
										transition: all .5s cubic-bezier(.7,0,.3,1);

											&:hover{
												transform: scale(1.05);
											}
	
										@include mobile{
											width: 100%;
										}
									}
								}
			
								.journey_text{
									flex: 1;
									padding-left: 19px;
									margin: 0px 14px;
									z-index: 99999;
	
									@include mobile{
										flex: 1;
										padding-left: 0px;
										margin: 0px;
									}
			
									.basic_info{
			
										h3{
											color: #37c;
											font-size: 24px;
											font-weight: 400;
											line-height: 34px;
											margin-bottom: 5px;

											a{
												cursor: pointer;
											}
										}

										h6{
											font-size: 16px;
											color: #5e9516;
											font-weight: bold;
											letter-spacing: 1px;
											margin-bottom: 5px;

											@include mobile{
												font-size: 14px;
											}

										}
	
										.details_block{
											color: #fff;
	
											.info{
												text-align: center;

												p{
													font-size: 15px;
													margin-top: 18px;
													font-weight: 400;
													line-height: 22px;
	
													a{
														color: #37c;
														font-weight: 500;
														padding-left: 4px;
														text-decoration: underline !important;
													}
												}

												ul{
													margin: 15px 0px;
													padding-left: 30px;
	
													li{
														font-style: italic;
														font-size: 15px;
														font-weight: 500;
														line-height: 22px;
														list-style-type: disc;
	
														a{
															color: #37c;
															font-weight: 500;
															padding-left: 4px;
															text-decoration: underline !important;
														}
													}
												}
											}
										}
									}
								}
	
							}
						}

						.thoughts_gallery{
							display: flex;
							justify-content: space-between;
							position: relative;
							padding-bottom: 40px;

							@include mobile{
								align-items: center;
								justify-content: center;
								flex-wrap: wrap;
							}

							.card_box{
								width: calc(50% - 20px);
								margin: 0px 10px;

								@include mobile{
									width: 300px;
									margin:20px 0px;
								}

								.card{
									width: 100%;
									height: 300px;
									transition: all .15s ease-in-out;
									cursor: pointer;
									box-shadow: 4px 4px 10px 2px rgba($color: #000000, $alpha: 0.15);
									border-radius: 10px;
									overflow: hidden;

									@include mobile{
										height: 100%;
										line-height: 0px;
									}
	
									&:hover{
										transform: scale(1.04);
									}
	
									img{
										object-fit: cover;
										height: 100%;

										@include mobile{

											object-fit: contain;
										}
									}
								}

								p{
									margin-top: 12px;
									color: #333;
									font-weight: 300;
									font-size: 24px;

									@include tab{
										font-size: 18px;
									}
									@include mobile{
										font-size: 16px;
										white-space: nowrap;
									}
								}
							}
						}
					}
				}
			}

			.communities{
				position: relative;
				padding: 80px 0px;

				@include mobile{
					padding:40px 0px;
				}

				.communities_box{

					.details{
						text-align: center;
						margin-bottom: 20px;

						h2{
							color: #222;
							font-size: 32px;
							font-weight: 700;
							position: relative;
							text-align: center;
							margin: 0px;
							display: inline-block;
							margin-bottom: 12px;

							&::before{
								content: "";
								position: absolute;
								height: 2px;
								width: 80px;
								margin: 0 10px;
								display: inline-block;
								background-color: #222;
								right: 100%;
								top:50%;

								
								@include mobile{
									content: "";
									position: absolute;
									height: 2px;
									width: 80px;
									margin: 0 10px;
									display: inline-block;
									background-color: #333;
									bottom: -12%;
									top:inherit;
									right:inherit;
									transform: translate(-50%,-50%);
									left: 45%;
								}
							}

							&::after{
								content: "";
								position: absolute;
								height: 2px;
								width: 80px;
								margin: 0 10px;
								display: inline-block;
								background-color: #333;
								left: 100%;
								top:50%;

								
								@include mobile{
									display: none;
								}
							}
						}

						h4{
							color: #222;
							font-size: 18px;
							font-weight: 400;
							position: relative;
							text-align: center;
							margin: 0px;
							margin-bottom: 12px;
						}
					}

					.communities_gallery{
						display: flex;
						justify-content: space-between;
						flex-wrap: wrap;

						.card{
							width: calc(33% - 24px);
							margin: 12px;
							border: 1px solid rgb(102 119 136 / 50%);
							min-height: 267px;

							@include mobile{
								width: 100%;
								margin-bottom: 25px;
								min-height: inherit;
							}

							.card_info{
								padding: 20px 22px;

								h3{
									font-size: 20px;
									font-weight: 700;
									margin-bottom: 8px;
								}
								p{
									font-size: 15px;
									font-weight: 400;
									color: #222;
									line-height: 22px;

									a{
										margin:0px 3px;
										font-size: 16px;
										line-height: 22px;
										font-weight: 100;
										border-bottom: 1px solid #000;
									}
								}
							}
						}
					}
				}

			}	
			
			.system{
				margin: 60px 0px;

				.system_image{

					.system_block{
						padding-bottom: 40px;

						.random_container{
							display: flex;
							justify-content: space-between;
							flex: 1;

							@include mobile{
								flex-direction: column;
								justify-content: center;
								align-items: center;
							}
				
							.middle{
								flex: 0.3;
								// display: flex;
								// align-items: center;
								// justify-content: center;
								
								img{
									width:250px;
									height: 250px;
									object-fit: contain;
									box-shadow: 0px 5px 5px 5px #dedede2b;
									border-radius: 50%;

									@include tab{
										width: 200px;
										height: 200px;
									}

									@include mobile{
										margin-bottom: 40px;
									}
								}
							}
				
							.left_bar{
								display: flex;
								flex-direction: column;
								flex: 0.35;

								@include mobile{
									&:nth-last-child(1){
										p{
											&:nth-last-child(1){
												margin-bottom: 0px;
											}
										}
									}
								}
				
								p{
									font-size: 13px;
									font-weight: 400;
									line-height: 1.8;
									color: #50555c;
									position: relative;
									padding-left:20px;
									min-height: 100px;
									margin-bottom: 20px;
									display: flex;
									align-items: center;

									@include sm{
										min-height: 65px;
										margin-bottom: 10px;
									}
				
									&:nth-child(2n){
				
										span{
											border:3px solid #6bbb77;
										}
				
										&::before{
											border-image: 
												linear-gradient(
													to bottom, 
													#6bbb77, 
													rgba(0, 0, 0, 0)
												) 1 100%;
										}
									}
				
									span{
										border: 3px solid #f78758;
										width: 10px;
										height: 10px;
										border-radius: 50%;
										display: inline-block;
										position: absolute;
										left: -2px;
										top:0px;
				
									}
				
									&::before{
										content:"";
										display: block;
										position: absolute;
										left:2px;
										top:15px;
										height:calc(100% - 20%);
										color: white;
										border-width: 0.5px;
										border-style: solid;
										border-image: 
										  linear-gradient(
											to bottom, 
											#f78758, 
											rgba(0, 0, 0, 0)
										  ) 1 100%;

										  @include sm{
											height: calc(100% - 40%);
										  }
									}
								}
							}
				
						}

						.details{
							text-align: center;
							margin-bottom: 30px;
		
							h2{
								color: #333;
								font-size: 32px;
								font-weight: 700;
								position: relative;
								text-align: center;
								margin: 0px;
								display: inline-block;
								line-height: 32px;
								text-transform: capitalize;
		
								&::before{
									content: "";
									position: absolute;
									height: 2px;
									width: 80px;
									margin: 0 10px;
									display: inline-block;
									background-color: #333;
									right: 100%;
									top:50%;

									@include mobile{
										content: "";
										position: absolute;
										height: 2px;
										width: 80px;
										margin: 0 10px;
										display: inline-block;
										background-color: #333;
										bottom: -12%;
										top:inherit;
										right:inherit;
										transform: translate(-50%,-50%);
										left: 45%;
									}
								}
		
								&::after{
									content: "";
									position: absolute;
									height: 2px;
									width: 80px;
									margin: 0 10px;
									display: inline-block;
									background-color: #333;
									left: 100%;
									top:50%;

									@include mobile{
										display: none;
									}
								}
							}
							h4{
								color: #333;
								font-size: 16px;
								font-weight: 400;
								position: relative;
								text-align: center;
								margin: 0px;
								margin-bottom: 12px;
							}
						}

						.system_content{

							ul{
								display: flex;
								flex-wrap: wrap;
								margin-top: 60px;
								
								@include mobile{	
									flex-direction: column;
									margin-top: 30px;
								}

								li{
									display: flex;
									padding-bottom: 10px;
									line-height: 1.45;
									color: #333;
									font-size: 18px;
									font-weight: 400;
									text-align: left;
									width:50%;

									@include tab{
										font-size: 17px;
										white-space: nowrap;
										align-items: center;
										justify-content: center;
										letter-spacing: -1px;
									}

									@include mobile{
										width:100%;
										letter-spacing: inherit;
									}

									@include xs{
										font-size: 14px;
										font-weight: 500;
									}

									span{
										margin-right: 8px;

										@include tab{
											margin-right: 4px;
										}

										img{
											object-fit: cover;
											width: 14px;
											height: 14px;

											@include xs{
												width: 13px;
												height: 13px;
											}
										}

										&:nth-last-child(1){
											img{
												width:12px;
												height: 12px;
												object-fit: cover;
												opacity: 0.7;

												@include xs{
													width: 11px;
													height: 11px;
												}
											}
										}
									}
									a{
										&:hover{
											color: #3377cc;
										}
									}
								}
							}
						}
		
					}

				}
			}

			.freelance{
				display: flex;
				align-items: center;
				justify-content: center;

				.details{
					text-align: center;
					margin-bottom: 20px;

					.coast{

						@include mobile{
							width: 100%;
						}

						h2{
							color: #333;
							font-size: 32px;
							font-weight: 500;
							position: relative;
							margin: 0px;
							line-height: 48px;
							margin-bottom: 30px;

							@include mobile{
								margin-bottom: 25px;
								font-size: 24px;
								line-height: 32px;
							}
						

						&::before{
							content: "";
							position: absolute;
							height: 2px;
							width: 80px;
							margin: 0 10px;
							display: inline-block;
							background-color: #333;
							right: 100%;
							top:50%;

							@include mobile{
								content: "";
								position: absolute;
								height: 2px;
								width: 80px;
								margin: 0 10px;
								display: inline-block;
								background-color: #333;
								bottom: -20%;
								top:inherit;
								right:inherit;
								transform: translate(-50%,-50%);
								left: 45%;
							}
						}

						&::after{
							content: "";
							position: absolute;
							height: 2px;
							width: 80px;
							margin: 0 10px;
							display: inline-block;
							background-color: #333;
							left: 100%;
							top:50%;

							@include mobile{
								display: none;
							}
						}
					}	

						p{
							position: relative;
							text-align: center;
							margin: 0px;
							margin-bottom: 12px;
							line-height: 1.45;
							font-size: 20px;
							font-weight: 400;
							color: #777;
	
							@include tab{
								margin-bottom: 25px;
								font-size: 16px;
							}
	
							a{
								color: #333;
								cursor: pointer;
								margin: 0px 3px;
								font-weight: 600;
								text-decoration: underline !important;
							}
						}
					}
				}

			}

			.coast_coast{
				padding: 0px 0px 80px 0px;
				// background-color: #fff;

				.details{
					text-align: center;
					width: 80%;
					margin: auto;
					margin-bottom: 20px;

					@include mobile{
						width: 100%;
					}

					.coast{
						color: #333;
						font-size: 36px;
						font-weight: 700;
						position: relative;
						text-align: center;
						margin: 0px;
						display: inline-block;
						margin-bottom: 12px;

						p{
							color: #333;
							font-size: 32px;
							font-weight: 700;
							position: relative;
							text-align: center;
							margin: 0px;
							display: inline-block;
							line-height: 36px;
						}

						@include mobile{
							margin-bottom: 25px;
							font-size: 24px;
						}

						&::before{
							content: "";
							position: absolute;
							height: 2px;
							width: 80px;
							margin: 0 10px;
							display: inline-block;
							background-color: #333;
							right: 100%;
							top:50%;

							@include mobile{
								content: "";
								position: absolute;
								height: 2px;
								width: 80px;
								margin: 0 10px;
								display: inline-block;
								background-color: #333;
								bottom: -2%;
								top:inherit;
								right:inherit;
								transform: translate(-50%,-50%);
								left: 45%;
							}
						}

						&::after{
							content: "";
							position: absolute;
							height: 2px;
							width: 80px;
							margin: 0 10px;
							display: inline-block;
							background-color: #333;
							left: 100%;
							top:50%;

							@include mobile{
								display: none;
							}
						}
					}
					h4{
						color: #678;
						font-size: 24px;
						font-weight: 400;
						position: relative;
						text-align: center;
						margin: 0px;
						line-height: 1.45;
						margin-bottom: 12px;
						line-height: 1.45;
						font-size: 20px;
						font-weight: 400;
						color: #777;

						@include tab{
							margin-bottom: 25px;
							font-size: 16px;
						}

						a{
							color: #37c;
							cursor: pointer;
							margin: 0px 3px;
							font-weight: 600;
							text-decoration: underline!important;
							margin: 0px 8px;
						}
					}
				}

				.social_icons{
					margin-top: 20px;
					display: flex;
					justify-content: center;
					align-items: center;
					flex-direction: column;

					.icons{
						display: flex;

						.image_icons{
							width: 40px;
							transition: all .5s cubic-bezier(.7,0,.3,1);
							margin: 0px 14px;

							&:hover{
								transform: scale(1.2);
							}

							a{
								display: inline-block;

								img{
									height: 40px;
									object-fit: cover;
								}
							}
						}
					}

					.mail{
						margin-top: 12px;

						.mail_box{
							
							a{
								display: inline-block;
								width: 110px;
								transition: all .5s cubic-bezier(.7,0,.3,1);
								margin: 0px 14px;
								height: 114px;

								&:hover{
									transform: scale(1.2);
								}

								img{
									object-fit: cover;
								}
							}
						}
					}
				}

			}

		}

		.scroll_buttons{

			position: fixed;
			right: 20px;
			bottom: 20px;
			
			.buttons_grp{

				button{
					border: none;
					background: none;
					background-color: #222;
					width: 30px;
					height: 30px;
					margin-top: 6px;
					border-radius: 3px;
					display: flex;
					align-items: center;
					justify-content: center;
					cursor: pointer;
					color: #fff;

					&:hover{
						background-color: #383838;
					}

					svg{
						fill: #fff;
						font-size: 18px;
					}
				}
			}
		}
  	}
}