@import '../styles/mixin';

.container {
  	width: 100%;
	box-sizing: border-box;

	&::selection {
		color: #fff;
		background: #3377cc;
	  }

	.wrapper{
		position: relative;
		background-color: #fff;

		.header{

			.hamberg{
				.hamberg_menu{
					top: 36px;
					left: 70px;
					width: 26px;
					height: 18px;
					z-index: 999;
					padding: 10px;
					cursor: pointer;
					position: fixed;
					background-color: transparent;
					border: none;
					border-radius: 0px;
					outline: none;

					span{
						background-color: #245078;
						height: 4px;
    					width: 26px;
						position: absolute;
						display: inline-block;

						&:nth-child(1){
							top:8px;
						}
						&:nth-child(2){
							top:16px;
						}
						&:nth-child(3){
							top:24px;
						}
					}
				}

				.active{
					position: relative;
					background: none;
					border: none;
					transition: all .25s ease-out;
					top: 36px;
					left: 70px;
					width: 26px;
					height: 18px;
					z-index: 999;
					padding: 10px;
					cursor: pointer;
					position: fixed;
					span{
						display: block;
						width: 26px;
						height: 4px;
						left: 25px;
						margin-left: -9px;
						position: absolute;
						transition: all .25s ease-out;
						background: #245078;
		
						&:nth-child(1){
							transform: rotate(35deg)
						}
						&:nth-child(2){
							display: none;
						}
						&:nth-child(3){
							transform: rotate(145deg)
						}
					}
				}
			}
		}


		.main_block{

			.about{
				background-color: #1469e9;
				margin-bottom: 40px;
				position: relative;

				// &:before{
				// 	transform-style: preserve-3d;
				// 	background: #1469e9;
				// 	position: absolute;
				// 	top:0px;
				// 	bottom: 0px;
				// 	left: 0px;
				// 	right: 0px;
				// 	content: "";
				// 	display: inline-block;
				// }

				.about_me{
					position: relative;
					height: 270px;
					// display: flex;
					// align-items: center;
					// justify-content: center;
					// flex-direction: column;

					.about_background{
						color: #fff;
						text-align: center;
						padding-top: 30px;

						.about_content{
							max-width: 650px;
							margin: 0 auto;

							p{
								font-size: 22px;
								margin-bottom: 8px;
								font-family: 'Shadows Into Light Two', cursive;
								font-weight:800;
								letter-spacing: 1px;
							}
						}
					}

					.profile_image{
						position: absolute;
						transform: translate(-50%,50%);
						left:50%;
						bottom:0%;
						background-color: #fff;
						height: 250px;
						width: 250px;
						box-sizing: border-box;
						border-radius: 49.9%;
						overflow: hidden;
						border: 5px solid #fff;
						padding: 3px;
					
						
						img{
							object-fit: cover;
						}
					}
				}
			}

			.image_block{
				text-shadow: 0 1px 2px rgb(0 0 0 / 20%);
				margin-top: 180px;
				width: 100%;
				position: relative;
				
				@include mobile{
					background-position:80%;
				}
	
				.main_text{
					// position: absolute;
					// transform: translate(-50%,-50%);
					// top: 50%;
					// left: 50%;
					text-align: center;
					display: flex;
					justify-content: center;
					align-items: center;
					flex-direction: column;
	
					p{
						margin: 0px 0px 10px 0px;
						line-height: 1.45;
						font-size: 26px;
						font-weight: 400;
						color: #333;
						font-family: 'Alegreya Sans';
					}
					
					h1{
						font-size: 59px;
						font-weight: 700;
						color: #333;
						line-height: 70.2px;
						word-wrap:break-word;
					}
				}
			}

			.Volunteering{
				.journey_block{
					padding: 80px 0px;

					@include mobile{
						padding: 40px 0px;
					}

					.details{
						display: flex;
						justify-content: center;

						h2{
							color: #333;
							font-size: 32px;
							font-weight: 700;
							position: relative;
							text-align: center;
							margin: 0px;
							display: inline-block;
							font-family: 'Jost', sans-serif;

							@include mobile{
								margin-bottom: 30px;
							}


							&::before{
								content: "";
								position: absolute;
								height: 2px;
								width: 80px;
								margin: 0 10px;
								display: inline-block;
								background-color: #333;
								right: 100%;
								top:50%;
								
								@include mobile{

									content: "";
									position: absolute;
									height: 2px;
									width: 80px;
									margin: 0 10px;
									display: inline-block;
									background-color: #333;
									bottom: -12%;
									top:inherit;
									right:inherit;
									transform: translate(-50%,-50%);
									left: 45%;
								}
							}

							&::after{
								content: "";
								position: absolute;
								height: 2px;
								width: 80px;
								margin: 0 10px;
								display: inline-block;
								background-color: #333;
								left: 100%;
								top:50%;

								@include mobile{
									display: none;
								}
							}
						}
					}

					.journey_info{
					
						.journey_sections{
							display: flex;
							padding: 0px 60px;
							align-items: flex-start;
							margin: 40px 0px;
							margin-bottom: 0px;

							@include mobile{
								flex-direction: column;
								justify-content: center;
								padding: 0px;
								align-items: center;
								margin:20px 0px;
							}
							@include xs {
								margin:20px  0px;
							}

							.unplugged_image{
								flex: 0.4;
								margin: 0px 14px;
								justify-content: flex-end;
								display: flex;
								cursor: pointer;

								@include mobile{
									// width:100%;
									margin-bottom: 15px;
								}
		
								img{
									width:170px;
									box-shadow: 0px 0px 11px 2px rgb(222 222 222 / 35%);
    								border-radius: 22px;
									height: 138px;
									transition: all .5s cubic-bezier(.7,0,.3,1);

										&:hover{
											transform: scale(1.05);
										}

									@include mobile{
										// width: 100%;
										object-fit: cover;
									}
								}
							}
		
							.journey_text{
								flex: 1;
								padding-left: 19px;
								margin: 0px 14px;

								@include mobile{
									width:100%;
									padding-left: 0px;
									margin: 0px;
								}
		
								.basic_info{
		
									.header_text{
										margin-bottom: 5px;
		
										h3{
											color: #37c;
											font-size: 24px;
											font-weight: 400;
											line-height: 34px;
											font-family: 'Alegreya Sans', sans-serif;

											a{
												cursor: pointer;
											}
										}
									}
		
									.founder_text{
										margin-bottom: 5px;
		
										h6{
											font-size: 16px;
											color: #5e9516;
											font-family: 'Didact Gothic';
											font-weight: bold;
											letter-spacing: 1px;

											@include mobile{
												font-size: 14px;
											}

										}
									}

									.details_block{
										color: #50555c;

										.location{

											p{
												// font-weight: 700;
												font-family: 'Mukta';

												a{
													word-break: break-word;
													font-weight: bold;
													text-decoration: underline!important;
												}
											}
										}

										.info{

											p{
												font-size: 15px;
												font-family: 'Roboto';
												margin-top: 18px;
												font-weight: 400;
												line-height: 22px;

												span{
													display: inline-block;
												}

												a{
													color: #37c;
													font-weight: 500;
													padding-left: 4px;
													text-decoration: underline !important;
												}
											}
											ul{
												margin: 15px 0px;
												padding-left: 30px;

												li{
													font-style: italic;
													font-size: 15px;
													font-weight: 500;
													line-height: 22px;
													list-style-type: disc;
													font-family: 'Roboto';

													a{
														color: #37c;
														font-weight: 500;
														padding-left: 4px;
														text-decoration: underline !important;
													}
												}
											}

											.movement{
												text-align: center;
												margin-top: 15px;

												@include xs{
													margin-bottom: 35px;
												}
						
												.movement_text{
													font-size: 16px;
													font-weight: 700;
													font-family: 'Roboto';
													padding: 12px 18px;
													background-color: #1b232b;
													border-radius: 999px;
													color: #fff;
													text-align: center;
													display: inline-block;
												}
						
											}
										}
									}
								}
							}

						}
					}
				}
			}

			.content{
				.journey_block{
					padding: 80px 0px;

					@include sm{
						padding: 40px 0px;
					}

					.details{
						display: flex;
						justify-content: center;

						h2{
							color: #333;
							font-size: 32px;
							font-weight: 700;
							position: relative;
							text-align: center;
							margin: 0px;
							display: inline-block;
							font-family: 'Jost', sans-serif;

							@include mobile{
								margin-bottom: 15px;
							}


							&::before{
								content: "";
								position: absolute;
								height: 2px;
								width: 80px;
								margin: 0 10px;
								display: inline-block;
								background-color: #333;
								right: 100%;
								top:50%;
								
								@include mobile{

									content: "";
									position: absolute;
									height: 2px;
									width: 80px;
									margin: 0 10px;
									display: inline-block;
									background-color: #333;
									bottom: -12%;
									top:inherit;
									right:inherit;
									transform: translate(-50%,-50%);
									left: 45%;
								}
							}

							&::after{
								content: "";
								position: absolute;
								height: 2px;
								width: 80px;
								margin: 0 10px;
								display: inline-block;
								background-color: #333;
								left: 100%;
								top:50%;

								@include mobile{
									display: none;
								}
							}
						}
					}

					.journey_info{
					
						.journey_sections{
							display: flex;
							padding: 0px 60px;
							align-items: flex-start;
							margin: 40px 0px;
							margin-bottom: 0px;

							@include mobile{
								flex-direction: column;
								justify-content: center;
								padding: 0px;
								align-items: center;
								margin: 0px;
							}
							

							.unplugged_image{
								flex: 0.4;
								margin: 0px 14px;
								justify-content: flex-end;
								display: flex;
								cursor: pointer;

								@include mobile{
									// width:100%;
									margin:24px 15px;

								}
		
								img{
									width:168px;
									box-shadow: 0px 0px 11px 2px rgb(159 153 153 / 38%);
    								border-radius: 22px;
									// object-fit: cover;
									height: 136px;
									transition: all .5s cubic-bezier(.7,0,.3,1);

										&:hover{
											transform: scale(1.05);
										}

									@include mobile{
										// width: 100%;
										object-fit: cover;
									}
								}
							}
		
							.journey_text{
								flex: 1;
								padding-left: 19px;
								margin: 0px 14px;

								@include mobile{
									flex: 1;
									padding-left: 0px;
									margin: 0px;
								}
		
								.basic_info{
		
									.header_text{
										margin-bottom: 5px;
		
										h3{
											color: #37c;
											font-size: 24px;
											font-weight: 400;
											line-height: 34px;
											font-family: 'Alegreya Sans', sans-serif;

											a{
												cursor: pointer;
											}
										}
									}
		
									.founder_text{
										margin-bottom: 5px;
		
										h6{
											font-size: 16px;
											color: #5e9516;
											font-family: 'Didact Gothic';
											font-weight: bold;
											letter-spacing: 1px;

											@include mobile{
												font-size: 14px;
											}

										}
									}

									.details_block{
										color: #50555c;

										.location{

											p{
												font-weight: 700;
												font-family: 'Mukta';
											}
										}

										.info{

											p{
												font-size: 15px;
												font-family: 'Roboto';
												margin-top: 18px;
												font-weight: 400;
												line-height: 22px;

												a{
													color: #37c;
													font-weight: bold;
													padding-left: 4px;
													text-decoration: underline !important;
												}
											}
											ul{
												margin: 15px 0px;
												padding-left: 30px;

												@include mobile{
													margin-bottom: 0px;
												}

												li{
													font-style: italic;
													font-size: 15px;
													font-weight: 500;
													line-height: 22px;
													list-style-type: disc;
													font-family: 'Roboto';

													a{
														color: #37c;
														font-weight: 500;
														padding-left: 4px;
														text-decoration: underline !important;
													}
												}
											}

											.movement{
												text-align: center;
												margin-top: 15px;

												@include xs{
													margin-bottom: 35px;
												}
						
												.movement_text{
													font-size: 16px;
													font-weight: 700;
													font-family: 'Roboto';
													padding: 12px 18px;
													background-color: #1b232b;
													border-radius: 999px;
													color: #fff;
													text-align: center;
													display: inline-block;
												}
						
											}
										}
									}
								}
							}

						}
					}
				}
			}

			.thoughts{
				position: relative;

				.thoughts_image_box{
					// background-repeat: no-repeat;
					// background-size: cover;
					// position: relative;
					// background-image: url(https://images.unsplash.com/photo-1580775702218-1f746c0c49b0?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&h=1500&w=2000&fit=clip&fm=jpg);
					// padding: 80px 0px;
					// background-position:50% 50%;

					// @include mobile{
					// 	background-position:80%;
					// 	padding:40px 0px;
					// }
					
					// &:before{
					// 	transform-style: preserve-3d;
					// 	background: rgb(0 0 0 / 39%);
					// 	position: absolute;
					// 	top:0px;
					// 	bottom: 0px;
					// 	left: 0px;
					// 	right: 0px;
					// 	content: "";
					// 	display: inline-block;
					// }

					.thought_box{

						.details{
							align-items: center;
							margin-bottom: 20px;
							display: flex;
							flex-direction: column;
		
							h2{
								color: #333;
								font-size: 32px;
								font-weight: 700;
								position: relative;
								text-align: center;
								margin: 0px;
								display: inline-block;
								margin-bottom: 12px;
								font-family: 'Jost', sans-serif;
		
								&::before{
									content: "";
									position: absolute;
									height: 2px;
									width: 80px;
									margin: 0 10px;
									display: inline-block;
									background-color: #fff;
									right: 100%;
									top:50%;

									@include mobile{
										content: "";
										position: absolute;
										height: 2px;
										width: 80px;
										margin: 0 10px;
										display: inline-block;
										background-color: #fff;
										bottom: -12%;
										top:inherit;
										right:inherit;
										transform: translate(-50%,-50%);
										left: 45%;
									}
								}
		
								&::after{
									content: "";
									position: absolute;
									height: 2px;
									width: 80px;
									margin: 0 10px;
									display: inline-block;
									background-color: #fff;
									left: 100%;
									top:50%;
									@include mobile{
										display: none;
									}
								}
							}

							.thoughts_matter{
								
								h4{
									color: #fff;
									font-size: 16px;
									font-weight: 400;
									position: relative;
									text-align: center;
									margin: 0px;
									display: inline-block;
									margin-bottom: 32px;
									line-height:29px;
									font-family: 'Open Sans', sans-serif;

									a{
										margin: 0px 6px;
										font-size: 16px;
										font-weight: 600;
										border-bottom: 1px solid #fff;
									}
								}
							}
							h4{
								color: #678;
								font-size: 17px;
								font-weight: 600;
								position: relative;
								text-align: center;
								margin: 0px;
								display: inline-block;
							}
						}

						.journey_info{
					
							.journey_sections{
								display: flex;
								padding: 0px 60px;
								align-items: flex-start;
								margin: 40px 0px;
								margin-bottom: 0px;
	
								@include mobile{
									flex-direction: column;
									justify-content: center;
									padding: 0px;
									align-items: center;
									margin:20px 0px;
								}
								@include xs {
									margin:20px  0px;
								}
	
								.unplugged_image{
									flex: 0.3;
									margin: 0px 14px;
									justify-content: flex-end;
									display: flex;
									cursor: pointer;
	
									@include mobile{
										flex: 1;
										margin-bottom: 15px;
									}
			
									img{
										width:170px;
										box-shadow: 0px 0px 11px 2px rgb(222 222 222 / 35%);
										border-radius: 22px;
										object-fit: contain;
										height: 138px;
										transition: all .5s cubic-bezier(.7,0,.3,1);

											&:hover{
												transform: scale(1.05);
											}
	
										@include mobile{
											width: 100%;
										}
									}
								}
			
								.journey_text{
									flex: 1;
									padding-left: 19px;
									margin: 0px 14px;
									z-index: 99999;
	
									@include mobile{
										flex: 1;
										padding-left: 0px;
										margin: 0px;
									}
			
									.basic_info{
			
										.header_text{
											margin-bottom: 5px;
			
											h3{
												color: #37c;
												font-size: 24px;
												font-weight: 400;
												line-height: 34px;
												font-family: 'Alegreya Sans', sans-serif;
	
												a{
													cursor: pointer;
												}
											}
										}
			
										.founder_text{
											margin-bottom: 5px;
			
											h6{
												font-size: 16px;
												color: #5e9516;
												font-family: 'Didact Gothic';
												font-weight: bold;
												letter-spacing: 1px;
	
												@include mobile{
													font-size: 14px;
												}
	
											}
										}
	
										.details_block{
											color: #fff;
	
											.location{
	
												p{
													// font-weight: 700;
													font-family: 'Mukta';
												}
											}
	
											.info{
	
												p{
													font-size: 15px;
													font-family: 'Roboto';
													margin-top: 18px;
													font-weight: 400;
													line-height: 22px;
	
													a{
														color: #37c;
														font-weight: 500;
														padding-left: 4px;
														text-decoration: underline !important;
													}
												}
												ul{
													margin: 15px 0px;
													padding-left: 30px;
	
													li{
														font-style: italic;
														font-size: 15px;
														font-weight: 500;
														line-height: 22px;
														list-style-type: disc;
														font-family: 'Roboto';
	
														a{
															color: #37c;
															font-weight: 500;
															padding-left: 4px;
															text-decoration: underline !important;
														}
													}
												}
											}
										}
									}
								}
	
							}
						}

						.thoughts_gallery{
							display: flex;
							justify-content: space-between;
							flex-wrap: wrap;
							position: relative;

							@include mobile{
								align-items: center;
								justify-content: center;
							}

							.card_box{
								width: calc(50% - 40px);
								margin: 14px 20px;
								padding: 12px;
								border:2px solid #33333380;
								border-radius: 4px;

								@include mobile{
									width: 300px;
									margin:14px 0px;
								}

								.card{
									width: 100%;
									height: 80%;
									transition: all .5s cubic-bezier(.7,0,.3,1);
									cursor: pointer;
									box-shadow: 0px 0px 5px 5px #dedede;
	
									&:hover{
										transform: scale(1.04);
									}
	
									img{
										object-fit: cover;
										height: 100%;
									}
								}

								p{
									margin-top: 12px;
									color: #333;
									font-weight: 700;
									font-size: 18px;
									font-family: 'Mukta';
									text-align: center;
								}
							}
						}
					}
				}
			}

			.communities{
				position: relative;
				padding: 80px 0px;

				@include mobile{
					padding:40px 0px;
				}

				.communities_box{

					.details{
						text-align: center;
						margin-bottom: 20px;

						h2{
							color: #222;
							font-size: 32px;
							font-weight: 700;
							position: relative;
							text-align: center;
							margin: 0px;
							display: inline-block;
							margin-bottom: 12px;
							font-family: 'Jost', sans-serif;

							&::before{
								content: "";
								position: absolute;
								height: 2px;
								width: 80px;
								margin: 0 10px;
								display: inline-block;
								background-color: #222;
								right: 100%;
								top:50%;

								
								@include mobile{
									content: "";
									position: absolute;
									height: 2px;
									width: 80px;
									margin: 0 10px;
									display: inline-block;
									background-color: #333;
									bottom: -12%;
									top:inherit;
									right:inherit;
									transform: translate(-50%,-50%);
									left: 45%;
								}
							}

							&::after{
								content: "";
								position: absolute;
								height: 2px;
								width: 80px;
								margin: 0 10px;
								display: inline-block;
								background-color: #333;
								left: 100%;
								top:50%;

								
								@include mobile{
									display: none;
								}
							}
						}

						h4{
							color: #222;
							font-size: 18px;
							font-weight: 400;
							position: relative;
							text-align: center;
							margin: 0px;
							margin-bottom: 12px;
						}
					}

					.communities_gallery{
						display: flex;
						justify-content: space-between;
						flex-wrap: wrap;

						.card{
							width: calc(33% - 24px);
							margin: 12px;
							border: 1px solid rgb(102 119 136 / 50%);
							min-height: 267px;

							@include mobile{
								width: 100%;
								margin-bottom: 25px;
								min-height: inherit;
							}

							.card_info{
								padding: 20px 22px;

								h3{
									font-size: 20px;
									font-weight: 700;
									margin-bottom: 8px;
									font-family: 'Noto Sans TC', sans-serif;
								}
								p{
									font-size: 15px;
									font-weight: 400;
									font-family: 'Roboto';
									color: #222;
									line-height: 22px;

									a{
										margin:0px 3px;
										font-size: 16px;
										line-height: 22px;
										font-weight: 100;
										border-bottom: 1px solid #000;
									}
								}
							}
						}
					}
				}

			}	

			.certification{
				display:flex;
				align-items: center;
				justify-content: center;

				.journey_block{
					padding: 80px 0px;
					padding-top: 0px;

					@include sm{
						padding: 40px 0px;
					}

					.details{
						display: flex;
						justify-content: center;

						h2{
							color: #333;
							font-size: 32px;
							font-weight: 700;
							position: relative;
							text-align: center;
							margin: 0px;
							display: inline-block;
							font-family: 'Jost', sans-serif;

							@include mobile{
								margin-bottom: 30px;
							}


							&::before{
								content: "";
								position: absolute;
								height: 2px;
								width: 80px;
								margin: 0 10px;
								display: inline-block;
								background-color: #333;
								right: 100%;
								top:50%;
								
								@include mobile{

									content: "";
									position: absolute;
									height: 2px;
									width: 80px;
									margin: 0 10px;
									display: inline-block;
									background-color: #333;
									bottom: -12%;
									top:inherit;
									right:inherit;
									transform: translate(-50%,-50%);
									left: 45%;
								}
							}

							&::after{
								content: "";
								position: absolute;
								height: 2px;
								width: 80px;
								margin: 0 10px;
								display: inline-block;
								background-color: #333;
								left: 100%;
								top:50%;

								@include mobile{
									display: none;
								}
							}
						}
					}

					.journey_info{
					
						.journey_sections{
							display: flex;
							padding: 0px 60px;
							align-items: flex-start;
							margin: 40px 0px;
							margin-bottom: 0px;

							@include mobile{
								flex-direction: column;
								justify-content: center;
								padding: 0px;
								align-items: center;
								margin:20px 0px;
							}
							@include xs {
								margin:20px  0px;
							}

							.unplugged_image{
								flex: 0.3;
								margin: 0px 14px;
								justify-content: flex-end;
								display: flex;
								cursor: pointer;

								@include mobile{
									flex: 1;
									margin-bottom: 15px;
								}
		
								img{
									width:170px;
									box-shadow: 0px 0px 11px 2px rgb(222 222 222 / 35%);
    								border-radius: 22px;
									object-fit: contain;
									height: 138px;
									transition: all .5s cubic-bezier(.7,0,.3,1);

										&:hover{
											transform: scale(1.05);
										}

									@include mobile{
										width: 100%;
									}
								}
							}
		
							.journey_text{
								flex: 1;
								padding-left: 19px;
								margin: 0px 14px;

								@include mobile{
									flex: 1;
									padding-left: 0px;
									margin: 0px;
								}
		
								.basic_info{
		
									.header_text{
										margin-bottom: 5px;
		
										h3{
											color: #37c;
											font-size: 24px;
											font-weight: 400;
											line-height: 34px;
											font-family: 'Alegreya Sans', sans-serif;

											a{
												cursor: pointer;
											}
										}
									}
		
									.founder_text{
										margin-bottom: 5px;
		
										h6{
											font-size: 16px;
											color: #5e9516;
											font-family: 'Didact Gothic';
											font-weight: bold;
											letter-spacing: 1px;

											@include mobile{
												font-size: 14px;
											}

										}
									}

									.details_block{
										color: #50555c;

										.location{

											p{
												// font-weight: 700;
												font-family: 'Mukta';
											}
										}

										.info{

											p{
												font-size: 15px;
												font-family: 'Roboto';
												margin-top: 18px;
												font-weight: 400;
												line-height: 22px;

												a{
													color: #37c;
													font-weight: 500;
													padding-left: 4px;
													text-decoration: underline !important;
												}
											}

											a{
												word-break:break-word;
												font-weight: 700;
												margin-top: 12px;
												display: inline-block;
												text-decoration: underline!important;
											}

											ul{
												margin: 15px 0px;
												padding-left: 30px;

												li{
													font-style: italic;
													font-size: 15px;
													font-weight: 500;
													line-height: 22px;
													list-style-type: disc;
													font-family: 'Roboto';

													a{
														color: #37c;
														font-weight: 500;
														padding-left: 4px;
														text-decoration: underline !important;
													}
												}
											}

											.movement{
												text-align: center;
												margin-top: 15px;

												@include xs{
													margin-bottom: 35px;
												}
						
												.movement_text{
													font-size: 16px;
													font-weight: 700;
													font-family: 'Roboto';
													padding: 12px 18px;
													background-color: #1b232b;
													border-radius: 999px;
													color: #fff;
													text-align: center;
													display: inline-block;
												}
						
											}
										}
									}
								}
							}

						}
					}
				}
			}
			
			.system{

				.system_image{
					// background-image: url(//custom-images.strikinglycdn.com/res/hrscywv4p/image/upload/c_limit,fl_lossy,h_1500,w_2000,f_auto,q_auto/9621/a4011e77-0e25-416f-ab13-d3840a5664e3_kssoov.jpg);
					// background-repeat: no-repeat;
					// background-size: cover;
					// position: relative;
					// padding: 80px 0px;
					// background-position: 50% 50%;

					.system_block{

						.details{
							text-align: center;
							margin-bottom: 20px;
		
							h2{
								color: #333;
								font-size: 32px;
								font-weight: 700;
								position: relative;
								text-align: center;
								margin: 0px;
								display: inline-block;
								font-family: 'Jost', sans-serif;
		
								&::before{
									content: "";
									position: absolute;
									height: 2px;
									width: 80px;
									margin: 0 10px;
									display: inline-block;
									background-color: #333;
									right: 100%;
									top:50%;

									@include mobile{
										content: "";
										position: absolute;
										height: 2px;
										width: 80px;
										margin: 0 10px;
										display: inline-block;
										background-color: #333;
										bottom: -12%;
										top:inherit;
										right:inherit;
										transform: translate(-50%,-50%);
										left: 45%;
									}
								}
		
								&::after{
									content: "";
									position: absolute;
									height: 2px;
									width: 80px;
									margin: 0 10px;
									display: inline-block;
									background-color: #333;
									left: 100%;
									top:50%;

									@include mobile{
										display: none;
									}
								}
							}
							h4{
								color: #333;
								font-size: 16px;
								font-weight: 400;
								position: relative;
								text-align: center;
								margin: 0px;
								margin-bottom: 12px;
							}
						}

						.system_content{

							ul{
								display: flex;
								flex-direction: column;
								margin-top: 60px;

								li{
									display: flex;
									justify-content: center;
									padding-bottom: 10px;
									line-height: 1.45;
									color: #333;
									font-size: 26px;
									font-weight: 400;
									font-family: 'Bebas Neue', cursive;
									text-align: center;

									@include sm {
										font-size: 20px;
									}

									a{
										&:hover{
											color: #3377cc;
										}
									}
								}
							}
						}
		
					}
				}
			}

			.freelance{
				padding: 80px 0px;
				// background-color: #fff;
				padding-bottom: 0px;
				display: flex;
				align-items: center;
				justify-content: center;

				.details{
					text-align: center;
					margin-bottom: 20px;

					.coast{

						width: 60%;
						margin: auto;

						@include mobile{
							width: 100%;
						}

						h2{
							color: #333;
							font-size: 48px;
							font-weight: 400;
							position: relative;
							margin: 0px;
							margin-bottom: 12px;
							font-family: 'Fraunces', serif;

							@include mobile{
								margin-bottom: 25px;
								font-size: 24px;
							}
						

						&::before{
							content: "";
							position: absolute;
							height: 2px;
							width: 80px;
							margin: 0 10px;
							display: inline-block;
							background-color: #333;
							right: 100%;
							top:50%;

							@include mobile{
								content: "";
								position: absolute;
								height: 2px;
								width: 80px;
								margin: 0 10px;
								display: inline-block;
								background-color: #333;
								bottom: -20%;
								top:inherit;
								right:inherit;
								transform: translate(-50%,-50%);
								left: 45%;
							}
						}

						&::after{
							content: "";
							position: absolute;
							height: 2px;
							width: 80px;
							margin: 0 10px;
							display: inline-block;
							background-color: #333;
							left: 100%;
							top:50%;

							@include mobile{
								display: none;
							}
						}
					}

						p{
							color: #678;
							font-size: 24px;
							font-weight: 400;
							position: relative;
							text-align: center;
							margin: 0px;
							line-height: 1.45;
							margin-bottom: 12px;
	
							@include tab{
								margin-bottom: 25px;
								font-size: 16px;
							}
	
							a{
								color: #333;
								cursor: pointer;
								margin: 0px 3px;
								font-weight: 600;
								text-decoration: underline !important;
							}
						}
					}
				}

			}

			.coast_coast{
				padding: 80px 0px;
				// background-color: #fff;

				.details{
					text-align: center;
					width: 62%;
					margin: auto;
					margin-bottom: 20px;

					@include mobile{
						width: 100%;
					}

					.coast{
						color: #333;
						font-size: 36px;
						font-weight: 700;
						position: relative;
						text-align: center;
						margin: 0px;
						display: inline-block;
						margin-bottom: 12px;
						font-family: 'Mukta', sans-serif;

						p{
							color: #333;
							font-size: 32px;
							font-weight: 700;
							position: relative;
							text-align: center;
							margin: 0px;
							display: inline-block;
							font-family: "Jost", sans-serif;
							line-height: 36px;
						}

						@include mobile{
							margin-bottom: 25px;
							font-size: 24px;
						}

						&::before{
							content: "";
							position: absolute;
							height: 2px;
							width: 80px;
							margin: 0 10px;
							display: inline-block;
							background-color: #333;
							right: 100%;
							top:50%;

							@include mobile{
								content: "";
								position: absolute;
								height: 2px;
								width: 80px;
								margin: 0 10px;
								display: inline-block;
								background-color: #333;
								bottom: -2%;
								top:inherit;
								right:inherit;
								transform: translate(-50%,-50%);
								left: 45%;
							}
						}

						&::after{
							content: "";
							position: absolute;
							height: 2px;
							width: 80px;
							margin: 0 10px;
							display: inline-block;
							background-color: #333;
							left: 100%;
							top:50%;

							@include mobile{
								display: none;
							}
						}
					}
					h4{
						color: #678;
						font-size: 24px;
						font-weight: 400;
						position: relative;
						text-align: center;
						margin: 0px;
						line-height: 1.45;
						margin-bottom: 12px;

						@include from-tab{
							margin-bottom: 25px;
							font-size: 16px;
						}

						a{
							color: #37c;
							cursor: pointer;
							margin: 0px 3px;
							font-weight: 600;
							text-decoration: underline!important;
							margin: 0px 8px;
						}
					}
				}

				.social_icons{
					margin-top: 20px;
					display: flex;
					justify-content: center;
					align-items: center;
					flex-direction: column;

					.icons{
						display: flex;

						.image_icons{
							width: 40px;
							transition: all .5s cubic-bezier(.7,0,.3,1);
							margin: 0px 14px;

							&:hover{
								transform: scale(1.2);
							}

							a{
								display: inline-block;

								img{
									height: 40px;
									object-fit: cover;
								}
							}
						}
					}

					.mail{
						margin-top: 12px;

						.mail_box{
							
							a{
								display: inline-block;
								width: 110px;
								transition: all .5s cubic-bezier(.7,0,.3,1);
								margin: 0px 14px;
								height: 114px;

								&:hover{
									transform: scale(1.2);
								}

								img{
									object-fit: cover;
								}
							}
						}
					}
				}

			}

		}

		.scroll_buttons{

			position: fixed;
			right: 20px;
			bottom: 20px;
			
			.buttons_grp{

				button{
					border: none;
					background: none;
					background-color: #222;
					width: 30px;
					height: 30px;
					margin-top: 6px;
					border-radius: 3px;
					display: flex;
					align-items: center;
					justify-content: center;
					cursor: pointer;
					color: #fff;

					&:hover{
						background-color: #383838;
					}

					svg{
						fill: #fff;
						font-size: 18px;
					}
				}
			}
		}
  	}
}